<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
<h1> Instagram Clone</h1>
<h3> Sign Up</h3>
    <h4> {{ today }} </h4>
</div>
<form method="post">
    {% csrf_token %}
       <div>
           <label for="username">Username: </label>
           <input id="username" type="text" name="username" value="">
       </div>

       <div>
           <label for="name">Name: </label>
           <input id="name" type="text" name="name" value="">
       </div>

       <div>
           <label for="email">Email: </label>
           <input id="email" type="text" name="email" value="">
       </div>

       <div>
           <label for="password">Password: </label>
           <input id="password" type="password" name="password" value="">
       </div>
           <input type="submit" value="Sign Up">
    </form>

 </div><br><br>

    <div><h3>Already a user?</h3><a href="login/">Login</a> </div>


</body>
</html>